@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border: 0 0% 89.8%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --border: 0 0% 14.9%;
  }
}

.dark {
  --border: 0 0% 14.9%;
}

.light {
  --border: 0 0% 89.8%;
}

body {
  color: rgb(var(--foreground-rgb));
}

/* Marquee animations */
@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-33.333%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-left {
  animation: marquee-left 50s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 50s linear infinite;
}

.hover\:pause-animation:hover {
  animation-play-state: paused;
}